[ ca ]
default_ca      = CA_default

[ CA_default ]
dir             = D:/Projects/ca-neo/ca
database        = D:/Projects/ca-neo/ca/project_28.txt
new_certs_dir   = D:/Projects/ca-neo/certs
certificate     = D:/Projects/ca-neo/ca/project_28.crt
serial          = D:/Projects/ca-neo/ca/project_28.srl
private_key     = D:/Projects/ca-neo/ca/project_28.key
RANDFILE        = D:/Projects/ca-neo/ca/.rand

default_days    = 365
default_crl_days= 30
default_md      = sha256
policy          = policy_loose

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits        = 4096
default_keyfile     = D:/Projects/ca-neo/ca/project_28.key
distinguished_name  = req_distinguished_name
prompt              = no
x509_extensions     = v3_intermediate_ca

[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = My Organization
OU = Project 28
CN = dd Project CA

[ v3_intermediate_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true, pathlen:0
keyUsage               = digitalSignature, keyCertSign, cRLSign

[ server_cert ]
basicConstraints       = CA:FALSE
nsCertType             = server
keyUsage               = digitalSignature, keyEncipherment
extendedKeyUsage       = serverAuth

[ client_cert ]
basicConstraints       = CA:FALSE
nsCertType             = client
keyUsage               = digitalSignature
extendedKeyUsage       = clientAuth

[ crl_ext ]
authorityKeyIdentifier = keyid:always