[ req ]
default_bits        = 4096
default_keyfile     = root.key
distinguished_name  = req_distinguished_name
prompt              = no
x509_extensions     = v3_ca

[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = My Organization
OU = Root CA
CN = My Organization Root CA

[ v3_ca ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints       = CA:true
keyUsage               = digitalSignature, keyCertSign, cRLSign